body {
    background-image: url(../images/polygon-mountains-minimalist-r3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr ;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.522);
}

header {
    grid-column: 1 / 9;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin-right: 1%;
}

main {
    padding: 2%;
    color: rgb(0, 0, 0);
    grid-column: 1 / 5;
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;  
    font-size: 1.5vw;
    line-height: 110%;
    font-family: 'League Spartan';
    margin-bottom: 30px;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 5vh;
}
.navBox {
    border-radius: 1px;
    font-size: 2vw;
    
}
.navBox:hover {
    font-size: 2.2vw;
    transition: 0.3s;
}

.rightNavWrapper {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}
.navElem {
    font-family: Poppins;
    text-align: center;
    font-size: 1.4vw;
    margin-top: 5px;
}
.navElem:hover {
    font-size: 1.5vw;
    transition: 0.3s;
}

.navElem2 {
    font-family: Poppins;
    text-align: center;
    font-size: 1.4vw;
    white-space: nowrap;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 20px;
}
.navElem2:hover {
    font-size: 1.5vw;
    transition: 0.3s;
}
.wordsBox {
    padding: 2%;
    color: rgb(0, 0, 0);
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;  
    font-size: 1.20vw;
    line-height: 110%;
    font-family: 'League Spartan', sans-serif;
}


.extraone {
    grid-row: 2;
    background-color: rgba(255, 218, 185, 0);
    grid-column: 5 / 9;
    background-color: rgba(255, 255, 255, 0.516);
    border-radius: 10%;
    height: 0px;
}
.footerWrapper {
    opacity: 100%;
    display: grid;
    grid-template-rows: 5vh 8vh;
    grid-column: 1 / 9;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    z-index: 1;
}

.linkedin {
    max-height: 3em;
    max-width: 3em;
    margin-right: 1em;
}
.linkedin:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.instagram {
    max-height: 3em;
    max-width: 3em;
    margin-right: 1em;
}
.instagram:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.email {
    max-height: 3em;
    max-width: 3em;
}
.email:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.test1 {
    font-family: Poppins;
    font-size: 1.3em;
    display: flex;

    align-items:center;
    justify-content: center;
}
.test2 {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-items:center;
    justify-content: center;
}
.hackathons {
    text-decoration: underline;
}
a {
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(101,123,201);
  }
  
  /* selected link */
  a:active {
    color: rgb(251,229,226);
  }
