body {
    background-image: url(../images/polygon-mountains-minimalist-r3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 10fr 10fr ;
    height: auto;
    margin-left: -0.7%;
    margin-right: -0.7%;
    padding: 0;
}

header {
    grid-column: 1 / 9;
    text-align: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    margin-right: 1%;
    margin-left: 1%;
}
h2 {
    font-size: 1.1em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 5vh;
}
.navBox {
    border-radius: 1px;
    font-size: 2vw;
    font-family: Poppins;
}
.navBox:hover {
    font-size: 2.2vw;

    transition: 0.3s;
}
.rightNavWrapper {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
}
.navElem {
    font-family: Poppins;
    text-align: center;
    font-size: 1.4vw;
    margin-top: 5px;
}
.navElem:hover {
    font-size: 1.5vw;

    transition: 0.3s;
}
.navElem2 {
    font-family: Poppins;
    text-align: center;
    font-size: 1.4vw;
    white-space: nowrap;
    margin-top: 5px;
    margin-right: 40px;
    margin-left: 20px;
}
.navElem2:hover {
    font-size: 1.5vw;
    transition: 0.3s;
}
.mainWrapper {
    margin-top: 3%;
    display: grid;
    grid-column: 1 / 9;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr 6fr;
    background-color: rgba(255, 255, 255, 0.522);
}
.titleElem {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 2em;
    margin-left: 2%;
    text-decoration: underline;
}
.paraElem {
    font-family: League Spartan;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    line-height: 1.3;
    padding-left: 2%;
    padding-right: 1%;
    margin-left: 3%;
}
.paraElem > p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
}
.mainElem > img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    margin-left: 2%;
}

.footerWrapper {
    opacity: 100%;
    display: grid;
    grid-template-rows: 5vh 8vh;
    grid-column: 1 / 9;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    z-index: 1;
}

.linkedin {
    max-height: 3em;
    max-width: 3em;
    margin-right: 1em;
}
.linkedin:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.instagram {
    max-height: 3em;
    max-width: 3em;
    margin-right: 1em;
}
.instagram:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.email {
    max-height: 3em;
    max-width: 3em;
}
.email:hover {
    max-height: 3.3em;
    max-width: 3.3em;
}
.test1 {
    font-family: Poppins;
    font-size: 1.3em;
    display: flex;

    align-items:center;
    justify-content: center;
}
.test2 {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-items:center;
    justify-content: center;
}


a {
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(101,123,201);
  }
  
  /* selected link */
  a:active {
    color: rgb(251,229,226);
  }
