.gridwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 50px 250px 250px;
}

header {
    background-color: #7fcec9;
    grid-column: 1 / 7;
    text-align: center;
    justify-content: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #f7e5a8;
}

main {
    background-color: #56749e;
    color: white;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

.extraone {
    background-color: peachpuff;
    grid-column: 4 / 7;
    
}
.extraone > img {
    max-width: 100%;
    max-height: 115%;
}

.extratwo {
    background-color: #f7e5a8;
    grid-column: 1 / 3;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
.extratwo > p {
    max-width: 100%;
    font-size: 13px;
    line-height: 18px;
    font-family: 'Brygada 1918', serif;;
}
.extrathree {
    background-color: cornflowerblue;
    grid-column: 3 / 5;
}
.extrathree > img {
    max-width: 120%;
    max-height: 100%;
}
.extrafour {
    background-color: #f7e5a8;
    grid-column: 5 / 7;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
}
.extrafour > p {
    max-width: 100%;
    font-size: 13px;
    font-family: 'Brygada 1918', serif;
    line-height: 16px;
}
.extrafour > img {
    max-width: 50%;
    max-height: 50%;
    float: right;
}