div.polaroid {
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 14px 0 rgba(41, 41, 41, 0.521), 0 6px 20px 0 rgb(131, 251, 255);
    text-align: center;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
  }

  @keyframes example {
    0% { width: 0px; background-color: white; opacity: 10%; left: 100px; top: 100px;}
    100% { width: 200px; background-color: white; opacity: 100%; left: 0px; top: 0px;}
  }
  @keyframes text1 {
    0% { font-size: 0px; }
    100% { font-size: 25px;}
  }
  @keyframes text2 {
    0% { letter-spacing: 0px; }
    50% { letter-spacing: 5px; }
    100% { letter-spacing: 0px; }
  }
  
div.container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.container > p {
    position: relative;
    animation-name: text1, text2;
    animation-duration: 2s, 2s;
    animation-delay: 0s, 2s;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}