body {
    font-family: Helvetica, sans-serif;
    background-color: #e7e6f7;
}
h1 {
    font-family: Helvetica, sans-serif;
    background-color: #c6d2ed;
    color: #827081;
    padding: 20px;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}